.header {
  border: 1px black solid;
  text-align: center;
}
.header-link {
  font-size: 50px;
  text-decoration: none;
}

.buttons-container {
  display: flex;
  margin-top: 2%;
}
.filter-buttons {
  width: 17%;
  font-size: 9px;
  margin-bottom: 1%;
}
.articles-container {
  border: 2px green solid;
}
.article-card {
  border: 1px blue solid;
  padding: 2%;
}
.loading {
  height: 300px;
  margin-left: 12%;
}
.article-title {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.article-date {
  font-size: 13px;
  display: inline;
  margin-left: 30%;
}
.article-comments {
  width: 27%;
  margin-right: 0px;
  font-size: 13px;
  display: inline;
}
.article-topic {
  text-align: center;
  font-weight: bolder;
}
.article-author {
  display: flex;
  text-decoration: none;
}
.trending-topic-container {
  padding: 2%;
}
.trending-topic-button {
  margin: 5%;
}
.trending-topic-title {
  text-align: center;
}
.error-message {
  text-align: center;
}
.error-link {
  display: flex;
  justify-content: center;
}
.single-article-container {
  border: 1px black solid;
  margin-top: 5%;
}
.single-article-body {
  margin: 5%;
}
.single-article-title {
  text-align: center;
}
.single-comments {
  display: inline-flex;
  margin-top: 1%;
  margin-left: 5%;
}
.single-author {
  margin-bottom: 1%;
  margin-left: 5%;
  font-weight: bold;
}
.comments-container {
  border: 2px red solid;
}
.all-comments-container {
  list-style: none;
  padding-left: 0px;
}
.article-comment-title {
  text-align: center;
}
.single-comment-container {
  border: 1px black solid;
  margin-bottom: 5%;
}
.single-comment {
  margin: 5%;
}
.comment-title {
  text-align: center;
}
.comment-vote {
  margin-left: 5%;
}
.likes-container {
  display: inline-flex;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.like-buttons {
  height: fit-content;
  margin-top: 3%;
}
.vote-count {
}
.article-like-button {
  margin-bottom: 5%;
  margin-left: 5%;
}
.post-comment-title {
  text-align: center;
}
