.header {
  border: 2px black solid;
  text-align: center;
}
.header-link {
  font-size: 50px;
  text-decoration: none;
}
.buttons-container {
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.filter-buttons {
  width: 15%;
  font-size: 9px;
}
.articles-container {
  border: 2px green solid;
}
.article-card {
  border: 1px blue solid;
  padding: 2%;
}
.loading {
  height: 300px;
  display: flex;
  justify-content: center;
}
.article-title {
  text-decoration: underline;
}
.trending-topic-container {
  border: 2px purple solid;
  padding: 2%;
}
.trending-topic-button {
  margin: 5%;
}
.trending-topic-title {
  text-align: center;
}
.error-message {
  text-align: center;
}
.error-link {
  display: flex;
  justify-content: center;
}
.single-article-container {
  border: 2px black solid;
}
.single-article-body {
  margin: 5%;
}
.single-article-title {
  text-align: center;
}
.single-comments {
  display: inline-flex;
  margin-top: 1%;
  margin-left: 5%;
}
.single-author {
  margin-bottom: 1%;
  margin-left: 5%;
  font-weight: bold;
}
.comments-container {
  border: 2px red solid;
}
.all-comments-container {
  list-style: none;
  padding-left: 0px;
}
.article-comment-title {
  text-align: center;
}
.single-comment-container {
  border: 2px black solid;
  margin-bottom: 5%;
}
.single-comment {
  margin: 5%;
}
.comment-title {
  text-align: center;
}
.comment-vote {
  margin-left: 5%;
}
.article-like-button {
  margin-bottom: 5%;
  margin-left: 5%;
}
.post-comment-title{
  text-align: center;
}

