.header {
  border: 2px black solid;
  text-align: center;
}
.buttons-container {
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}
.filter-buttons {
  width: 15%;
  font-size: 9px;
}
.articles-container {
  border: 2px green solid;
}
.article-card {
  border: 1px blue solid;
  padding: 2%;
}
.loading {
  height: 300px;
  display: flex;
  justify-content: center;
}
.article-title {
  text-decoration: underline;
}
.trending-topic-container {
  border: 2px purple solid;
  padding: 2%;
}
.trending-topic-button {
  margin: 5%;
}
.trending-topic-title {
  text-align: center;
}
.error-message {
  text-align: center;
}
.error-link {
    display: flex;
    justify-content: center;
}